.Sidebar {
    left: 0;
    margin-left: 0;
    padding-bottom: 100px;
}

.Footer {
    margin-top: 50px;
    overflow: hidden;
    height: 65px;
    width: 100%;
    background: linear-gradient(140deg, #34434b,#1f292e) !important;
    position: absolute;
    bottom: 0;
    display: inline-table;
}

.FooterContainter {
    display: table-cell;
    height: 100%;
}