.Sidebar {
    left: 0;
    margin-left: 0;
    padding-bottom: 100px;
    background-color: #e4e7f0;
}

.Footer {
    margin-top: 50px;
    overflow: hidden;
    height: 65px;
    width: 100%;
    background: linear-gradient(40deg, #1c2331, #3b465e) !important;
    position: absolute;
    bottom: 0;
    display: inline-table;
}

.FooterContainter {
    display: table-cell;
    height: 100%;
}